p:last-of-type{
	border: 2px solid black;
	width: 400px;
	margin: auto auto;
	transform: scaleY(0.5) skewY(45deg) ;
}
header{
	margin-bottom: 15%;
}
/*¿La alineación en el centro debe hacerse con transform?*/